
body {
  font-family: Arial, sans-serif;
  background: rgb(73, 71, 71);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h2 {
  text-align: center;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

.error {
  color: red;
  font-size: 14px;
}

span {
  color: #2563eb;
  cursor: pointer;
}
